
<footer>
    <div class="text-links">
        <a routerLink="/imprint"><p>Imprint</p></a><a routerLink="/legal"><p>Legal notice</p></a>
    </div>

    <div class="links">
        <a href="https://www.linkedin.com/in/brett-scott-36ab4077/" target='_blank'>
            <img src="assets/img/DA_Symbols/linkedin-box-fill.png">
        </a>

        <a href="https://github.com/CodeExamplesBrett" target='_blank'>
            <img src="assets/img/DA_Symbols/github-fill.png">
        </a>

        <a href="https://www.xing.com/profile/Brett_ScottBSc/cv" target='_blank'>
            <img src="assets/img/DA_Symbols/xing-fill.png">
        </a>
        

        
         


        
        
    </div>
    
    <!--<a href="https://logomakr.com/">Logos produced with Logomakr: https://logomakr.com/</a> !-->
</footer>

