<div id="about" class="about-container">

    <div class="about-content-top">

      <img src="assets/img/Brett_2.jpg">

      <div class="about-content-top-right">
        <h2>
            About me.
        </h2>
        <p class="about-me-text">I'm a frontend developer who enjoys learning new concepts / technologies. In my spare time I also enjoy the outdoors, cycling, hiking, camping etc...</p>

      </div>

    </div>
    <div class="about-content-bottom">
        <div class="about-bottom-card">
            <img class="journey-icon" src="assets/img/DA_Symbols/walk-line.png">
            <h3>MY JOURNEY BEGAN</h3>
            <p>
                Through my work as a Senior GIS officer I was given the opportunity to learn basic python scripts within industry leading GIS software, in oder to automate complex geoprocessing operations. I found this experience very rewarding and so began my passion for programming.
            </p>
        </div>

        <div class="about-bottom-card">
            <img class="journey-icon" src="assets/img/DA_Symbols/heart-line.png">
            <h3>MY PASSION</h3>
            <p>
                In various roles in GIS (Geographic Information Systems), I was called upon more and more to use my programming skills to automate tasks. I siezed the opportunity whenever possible to carry out these programming tasks as I found them so enjoyable and rewarding. How can I do this fulltime I wondered?
            </p>
            <!-- Once I had started woring on the problem I didn't want to stop. -->
        </div>

        <div class="about-bottom-card">
            <img class="journey-icon" src="assets/img/DA_Symbols/search-line.png">
            <h3>MY SEARCH</h3>
            <p>
                Initially I tried to teach myself frontend development with a variety of free online resources. As time went on it became apparent that it was difficuit to select the most appropraite content to learn. That's when I discovered the Devepoler Akademie. Here I had mentorship from industry professionals to steer me in the right direction. 
            </p>
        </div>

        <div class="about-bottom-card">
            <img class="journey-icon" src="assets/img/DA_Symbols/flight-takeoff-line.png">
            <h3>MY GOALS</h3>
            <p>
                On completion of my hands on training with the Developer Akademie my goal is to gain employment as a frontend developer. As I gain further experinece I'd like to broaden my skills set to include backend and other technologies / programming languages.
            </p>
        </div>
        



    </div>

 
  

</div>
