.legal-container{
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 60px;
    //height: 100vh;
    color: white;
    background-color: #1A1A1A;
    overflow: hidden;
}

@media (max-width: 600px) {
.legal-container{
    font-size: 12px;
    padding-left: 40px;
    padding-right: 40px;
    }

}