.work-container{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 105px;
}

h2{
    font-size: 36px;
    color: white;
    font-weight: 400;
}

.button-container{
    display: flex;
    padding-right: 24px;

}

button{
    background-color: black;
    border: 2px solid #FA2759;
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
    border-color: #FA2759;
    width: 175px;
    margin-left: 24px;

    &:hover {
        background-color: #FA2759;
        color: white;
    }
}

.project-container{
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    max-width: 970px;
    padding-right: 40px;
}

.projet-img{
    height: 300px;
    margin-left: 40px;
    margin-top: 40px;
    width: 445px;
}

.title-container{

}