<h2>MY Work</h2>


<div class="work-container">

    <div class="button-container">
        <button>All</button>
        <button>Angular</button>
        <button>Java script</button>
    </div>

    <div class="project-container">
        <img class="projet-img" src="assets/img/work/El-Pollo-Loco.png">
        <img class="projet-img" src="assets/img/work/El-Pollo-Loco.png">
        <img class="projet-img" src="assets/img/work/El-Pollo-Loco.png">
        <img class="projet-img" src="assets/img/work/El-Pollo-Loco.png">

    

    </div>

</div>
