


<div id="work" class="work-container">
    <div class="title-container">
        <h2>MY Work</h2>
    </div>
    

    <div class="button-container">
        <button>All</button>
        <button>Angular</button>
        <button>Java script</button>
    </div>

    <div class="project-container">
        <img data-aos="zoom-in" data-aos-duration="3000" class="projet-img" src="assets/img/work/El-Pollo-Loco.png">
        <img data-aos="zoom-in" data-aos-duration="3000" class="projet-img" src="assets/img/work/El-Pollo-Loco.png">
        <img data-aos="zoom-in" data-aos-duration="3000" class="projet-img" src="assets/img/work/El-Pollo-Loco.png">
        <img data-aos="zoom-in" data-aos-duration="3000" class="projet-img" src="assets/img/work/El-Pollo-Loco.png">

    

    </div>

</div>
