<div class="intro" class="intro-container">

  <div class="intro-content">
    <div class="intro-text">
      <div class="heading">
        <h1>Hi,</h1>
        <h1>I'm <mark class="red">Brett Scott</mark></h1>
        <h1>Front End develop<mark class="green">e</mark>r</h1>
      </div>

      <a class="contact-btn" href="#contact">Contact me</a>
      
    </div>

    <img src="assets/img/Brett_2.jpg">
  </div>


  <a href="#my-skills"><img class="down-arrow" src="assets/img/down-arrow.svg"></a>


</div>